<!DOCTYPE html>
<html>
  <head>
    <title>
      Digital Stokvel - Hello Africa!
    </title>
    <style>
      h1{
        font-size : 40px;
        text-align : center;
        font-family : "Segoe Print";
        color : rgb(40,40,40);
      }

      h3{
        text-align : center;
          font-size : 20px;
        font-family : "Segoe Print"
      }

      p{
          font-family : "Segoe UI"
      
      }
      #pic{
        width: 100%;
        height: 360px; 
        object-fit : cover;
      }
      #formatter{
          max-width : 720px;
          margin : 0 auto
        }
    </style>
  </head>
  <body>
    <div id = formatter>
      <h1> Welcome to Digital Stokvel Investments</h1>
    <img id = pic src = "static/investment.jpeg">
    <h3>About Stokvels</h3>
    <p>
      
        Stokvels are invitation-only clubs of twelve or more people serving as rotating credit unions or saving schemes in South Africa where members contribute fixed sums of money to a central fund on a weekly, fortnightly or monthly basis. The name "stokvel" originated from the term "stock fairs", as the rotating cattle auctions of English settlers in the Eastern Cape during the early 19th century were known.[1][2][3]
  
  Stokvels generally have a constitution which dictates the size of the contributions, when the accumulated money is to be paid out and the roles and responsibilities of the members. Each month a different member receives the money in the fund, which was collected during that period. Defaults on contribution are quite rare as other members will know if one has not paid their contribution, and also because the regular meetings serve as reminders. Depending on the type of stokvels, the members can use the collected fund for their own use, for payment or investment purposes.
  
  It is estimated that one in every two adult South Africans is a member of at least one of 800 000 stokvels. South Africans invest approximately R50 billion in stokvels a year.
  
  Stokvels are regulated by the National Stokvel Association of South Africa (NASASA), a self-regulatory organisation approved by the Prudential Authority. NASASA is also a registered Financial Co-operative. The organisation was established in 1988 by founder and still-chairman, Andrew Lukhele. Its board of directors includes Miziyonke Mtshali (CEO), Siphumelele Macozoma (COO) and Nsika Masondo (CFO).
        referrence: https://en.wikipedia.org/wiki/Stokvel
    </p>
    <h3>
      Registrations
    </h3>
      <div style = text-align:center;>
        <button>
           Register
        </button>
      </div>
      <br>
      <div style = "text-align:center">
         <button>
            Contact Us
         </button>
      </div>
    
    </div>
  </body>
</html>